@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(1, 80px);
}
.mainbody{
    text-align: center;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.topbar{
    border: 2px solid black;
    background-color: lightblue;
    font-size: larger;
    text-align: center;
}
#selected{
    background-color: rgb(89, 89, 132);
}
body{
    background-color: grey;
}
H1, H3{
    text-align: center;
}